
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
moc_*.cpp
*.dep
*.obj
*.idb
*.exe
*.pdb
*.user
*.old
*.aps
*.pch
*.vspscc
*_i.c
*.idb
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
tmp/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
BuildLog.htm
build/qtcreator/4.7/UpgradeLog*.xml
build/qtcreator/4.7/_UpgradeREport_Files/*
build/msw/vc9/UpgradeLog*.XML
build/msw/vc9/_UpgradeReport_Files/*
resources/base/config/last_windows_layout.xml
resources/base/config/config.rc
resources/base/config/SmallClipboard.xml
resources/base/syntax/commands.txt
build/qtcreator/4.7/base/base.vcxproj
build/qtcreator/4.7/svgcanvas/svgcanvas.vcxproj
build/qtcreator/4.7/projects/projects.vcxproj
build/qtcreator/4.7/dynamic_help/dynamic_help.vcxproj
build/qtcreator/4.7/operations/operations.vcxproj
*.filters
*.rc
build/qtcreator/4.7/tesseract.sln
*.vcxproj