
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
moc_*.cpp
*.dep
*.obj
*.idb
*.exe
*.pdb
*.user
*.old
*.aps
*.pch
*.vspscc
*_i.c
*.idb
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
tmp/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
BuildLog.htm
build/msw/vc9/UpgradeLog*.XML
build/msw/vc9/_UpgradeReport_Files/*
*.vcproj
*.vsprops