QFrame
{
	padding: 50px;
	background-color: red;
}

QListView
{
	margin: 0px;
	padding: 5px;
	background-color: rgb( 240 , 240 , 240 );
	
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}