QMenuBar
{
	padding-right: 5px;
	background-color: rgb(174,185,205);
}

QMenuBar::item 
{
	padding-top: 0px;
	padding-left: 7px;
	
	background-color: rgb(174,185,205);
}

QMenu 
{
	background-color: rgb(174,185,205);
}
