QMenu 
{
	margin: 5px;
	min-width: 50px;
	background-color: rgb(231,234,237); 
}

QMenuBar
{
	margin-left: 5px;
	margin-right: 2px;
	background-color: rgb(174,185,205); 
}

QMenuBar::item 
{
	height: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;

	background-color: rgb(174,185,205); 
}

QMenu 
{
	color: black;
	background-color: rgb(231,234,237); 
}

QMainWindow
{
	padding: 0px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 2px;
	margin-bottom: 0px;
	background-color: rgb(174,185,205); 
	
	border-bottom-left-radius: 3px;  
	border-bottom-right-radius: 3px; 
}